@model PraktiskaAppar.Customer


<div class="card border-dark mb-3" style="max-width: 18rem;">
    <div class="card-header"> <h5>@Model?.ContactName,</h5> @Model?.ContactTitle </div>
    <div class="card-body text-dark">
        <h5 class="card-titel">@Model?.Country</h5>

    </div>
</div>
